{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta
      http-equiv="Content-Type"
      content="text/html; charset=UTF-8"
    />

    <title>Upload Customs Document</title>
    <link
      rel="stylesheet"
      href="{% static 'upload_app/style.css' %}"
    />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap"
      rel="stylesheet"
    />

    <script
      src="https://code.jquery.com/jquery-3.6.0.js"
      integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <div class="wrapper">
      <fieldset id="dropbox">
        {% block content %}
        {% endblock %}
        <a class="github" href="https://github.com/daustin391/customs-document-uploader">Check out this project on GitHub</a>
      </fieldset>
    </div>
    <script src="{% static 'upload_app/main.js' %}"></script>
  </body>
</html>
