html {
  background-color: #332c50;
  color: #e2f3e4;
  font-family: Roboto, sans-serif;
  font-size: 15px;
  line-height: 1.35;
}

a {
  color: #46878f;
}

a:hover {
  color: #94e344;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#choose-file {
  position: absolute;
  top: 35%;
  right: 0;
  left: 0;
  width: 300px;
  margin: auto;
}

.dropbox-hover {
  border-color: #e2f3e4;
  background-color: #1a1337;
}

.hide {
  display: none;
}

.show {
  display: initial;
}

fieldset {
  position: relative;
  width: 600px;
  height: 430px;
  padding-bottom: 60px;
  margin: 0 auto;
}

form {
  display: grid;
  grid-column-start: 2;
  grid-row: 4 / span 2;
  place-items: center;
}

#form-fields {
  display: grid;
  grid-template-columns: auto auto;
}

input {
  display: inline-block;
  margin: 7px;
}

input:focus {
  outline-color: #e2f3e4;
}

input[type="file"] {
  display: block;
}

input[type="submit"],
fieldset {
  border: 1px solid #94e344;
}

input[type="submit"] {
  width: 6em;
  margin-top: 2rem;
}

input[type="submit"],
input[type="text"] {
  padding: 7px;
  border: 1px solid #94e344;
  background-color: #332c50;
  color: #94e344;
  font-size: 25px;
}

[type="submit"]:focus,
[type="submit"]:hover {
  background-color: #94e344;
  color: #332c50;
}

[type="submit"]:active {
  background-color: #e2f3e4;
  color: #332c50;
}

label {
  display: block;
  margin-top: 1rem;
}

.msg {
  height: 1.5rem;
  color: #46878f;
}

p {
  grid-column: 1 / 3;
}

#selected-file a {
  display: block;
}
